# exclude everything except directory 文件夹/.obsidian
/*
!/文件夹
/文件夹/*
!/文件夹/.obsidian
!/文件夹/_scripts
!/文件夹/_templates
!/文件夹/_assets
/文件夹/_assets/*

!/文件夹/Obsidian
!/文件夹/_assets/Attachment Management_files
!/文件夹/_assets/Custom Attachment location_files
!/文件夹/_assets/Attachment Management_files

!/文件夹/分体键盘
!/文件夹/_assets/键盘布局_files
!/文件夹/_assets/使用说明_files
!/文件夹/_assets/QMK 烧录_files

!README.md
