body {
    --table-sticky-height: auto;
    --table-white-space: pre-wrap;
    --border-subtle-1: rgb(var(--gray-20));
    --border-strong-1: rgb(var(--gray-50));
    --gray-20: 226, 224, 220;
    --gray-50: 142, 140, 139;
    --table-row-alt-background: rgba(var(--gray-50), 0.12);
    --table-row-background-hover: var(--text-selection);
    --table-header-size: var(--font-small);
    --table-header-weight: var(--font-semibold);
}

/* table */
.markdown-rendered table {
    margin-bottom: 24px;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

/* tr */
.cm-embed-block.markdown-rendered .block-language-dataview thead,
.cm-embed-block.markdown-rendered .block-language-dataview tbody tr,
.markdown-rendered table thead,
.markdown-rendered table tbody tr,
.markdown-rendered .table-view-table thead,
.markdown-rendered .table-view-table tbody tr {
    border-collapse: collapse;
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: auto;
    margin-bottom: auto;
}

/* th */
.cm-embed-block.markdown-rendered .block-language-dataview th,
.markdown-rendered table tr > th,
.markdown-rendered .table-view-table th {
    border: 1px solid var(--border-subtle-1);
    border-bottom: 2px solid var(--border-strong-1);
}

.markdown-rendered table > thead > tr > th,
.table-view-table > thead > tr > th {
    font-size: var(--table-header-size);
    font-weight: var(--table-header-weight);
    color: var(--table-header-color);
}

/* tbody */
.cm-embed-block.markdown-rendered .block-language-dataview tbody,
.markdown-rendered table tbody,
.markdown-rendered .table-view-table tbody {
    display: block;
    max-height: var(--table-sticky-height);
    overflow: auto;
}

/* td */
.cm-embed-block.markdown-rendered .block-language-dataview td,
.markdown-rendered table tr > td,
.markdown-rendered .table-view-table td {
    border: 1px solid var(--border-subtle-1);
}
