/* banner */
.view-content {
    z-index: 0;
}

span[src$="background_fade"] img,
div[src$="background_fade"] img {
    object-fit: cover;
    object-position: center;
    height: 250px;
    width: 100%;
    margin: 0px auto;
    /* ding wei */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* jian bian */
    -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    opacity: 0.6;
}
