/* scrolling */
.nav-files-container {
  overflow-x: scroll;
}

.nav-file-title-content, .nav-folder-title-content {
  overflow: visible;
}

.nav-file-title, .nav-folder-title {
  min-width: 100%;
  width: max-content;
}
/* scrolling */

.nav-file {
  width: max-content;
}